.DS_Store

*.iml
.gradle

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/migrations.xml
/.idea/assetWizardSettings.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/deploymentTargetDropDown.xml
/.idea/androidTestResultsUserPreferences.xml
/captures
.externalNativeBuild
.cxx
local.properties
gradle/wrapper/*
gradle.properties

/build
/shared/build

/Android/build

/iOS/iOS/GoogleService-Info.plist
/iOS/iOS.xcodeproj/project.xcworkspace/xcuserdata/vlad.xcuserdatad/UserInterfaceState.xcuserstate
/iOS/iOS.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/shared/secrets.properties